{% extends "simple_blog/page.html" %}
{% load i18n static simpleblog_tags %}

{% block post_meta %}{% endblock %}
{% block post_title %}{% endblock post_title %}

{% block post_content_bottom %}
  <section class="posts row">
    {% for post in posts %}
      <div class="col-md-6">{% render_post page post %}</div>
    {% empty %}
      <div class="empty-post col-12">{% trans "There is no content here !" %}</div>
    {% endfor %}
  </section>
{% endblock %}

{% block post_navigation %}
  {% include 'components/pagination.html' with page_object=posts %}
{% endblock %}

{% block section_comments %}{% endblock %}

{% block sidebar_body %}
  {{ block.super }}
  {% popular_posts title="Popular Posts" %}
  {% featured_posts title="Featured Posts" %}
{% endblock sidebar_body %}
