{% extends "simple_blog/post.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block post_content_bottom %}
  <section class="block series-items-block py-3">
    {% for item in items %}
      <a href="{% pageurl page %}" class="d-block mb-3">
        <div class="page-item d-flex">
          <div class="me-3">
            {% image item.thumbnail fill-185x105 as thumbnail %}
            <img src="{{ thumbnail.url }}" alt="header_image"/>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h2 class="h6 mb-0">{{ item.title }}</h2>
            <div class="richtext-no-p d-none d-md-block">{{ item.summary|truncatechars_html:120|safe }}</div>
          </div>
        </div>
      </a>
    {% endfor %}
  </section>
{% endblock %}
