[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
django-mptt = "*"
django-social-share = "*"
dj-database-url = "*"
django-heroku = "*"
django-storages = {extras = ["dropbox"], version = "*"}
whitenoise = "*"
sentry-sdk = "*"
gunicorn = "*"
django-redis = "*"
django-compressor = "*"
django-simple-menus = "*"
django-cleanup = "*"

[dev-packages]
flake8 = "*"
black = "*"
twine = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
