<!DOCTYPE html>
{% load wagtailcore_tags wagtailuserbar i18n static %}
{% comment %} {% load compressor %} {% endcomment %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
  {% block head_metadata %}{% include 'meta.html' %}{% endblock %}

  {% comment %} {% compress css %} {% endcomment %}
    {% block main_css %}{% include 'base_styles.html' %}{% endblock %}
    {% block extra_css %}{% endblock %}
  {% comment %} {% endcompress %} {% endcomment %}

</head>
<body {% block body_attrs %}{% endblock %} class="{% block body_classes %}{% endblock body_classes %}">
  {% wagtailuserbar %}
  {% block outter_wrapper %}
    {% block extra_top %}{% endblock %}
    {% block navbar %}{% endblock %}
    {% block subnav %}{% endblock %}
    {% block main %}
      {% block content %}{{ content }}{% endblock %}
    {% endblock main %}
    {% block extra_bottom %}{% endblock %}
    {% block footer %}{% endblock %}
  {% endblock outter_wrapper %}
  {% block modal %}{% endblock modal %}

  {% comment %} {% compress js %} {% endcomment %}
    {% block main_js %}{% endblock main_js %}
    {% block extra_js %}{% endblock extra_js %}
  {% comment %} {% endcompress %} {% endcomment %}
  {% block messages %}{% endblock messages %}

</body>
</html>
